<footer class="footer">
  <div class="container">
    <small>
      <div class="parkeve_logo_footer"><%= link_to image_tag("parkeve.png", size: "50x50", alt: "Parkeve logo"),
              root_path %></div>
      Parkeve, Co.
    </small>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </nav>
  </div>
</footer>